@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@700&display=swap');

.title {
	font-size: 90px;
	font-family: 'JetBrains Mono', monospace;
	color: #A2AEBB;
}
div {
	font-family: 'JetBrains Mono', monospace;
	color: #DFE0E2;
}
.btnc {
	color: #071013;
	background-color: #A2AEBB;
}